<div class="col-lg-4 col-md-6 sign_up">
    <h2>Sign up</h2>
    
    <%= form_with url: admin_registers_path do |f| %>    
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name , autofocus: true, autocomplete: "name", class: "form-control"%>
    </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
      </div>
    
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
    
      <div class="field">
        <%= f.label :active %><br />
        <%= f.select :active, [["Active", "1"], ["Deactive", "0"]], class: "form-control" %>
      </div>
      
      <div class="actions">
        <br/>
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  
  