<div class="cart-main-area ptb--120 bg__white">
 <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="#">               
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @cart.each do |product| %>
                                <tr>
                                    <td class="product-thumbnail"><a href="#"><img src="images/<%=product["image_product"]%>" alt="product img" /></a></td>
                                    <td class="product-name"><a href="#"><%=product["name"]%></a></td>
                                    <td class="product-price"><span class="amount"><%=number_to_currency(product["price"], :unit =>"",precision:0)%> VND</span></td>
                                    <td class="product-quantity"><input type="number" name="qty" value="<%=product["qty"]%>"/></td>
                                    <td class="product-subtotal"><%=number_to_currency(product["sub_total"], :unit =>"",precision:0)%> VND</td>
                                    <td class="product-remove"><a href="/products/remove_from_cart/<%=product["id"]%>">X</a></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-7 col-xs-12">
                            <div class="user-information">
                                <h2>User information</h2>
                                <div class="col-md-7 col-sm-8">
                                    <form>
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">Email address</label>
                                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                            </div>
                                        <div class="form-group">
                                          <label for="exampleInputPassword1">Name</label>
                                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter name">
                                        </div>
                                      </form>
                                   </div>
                            </div>
                          
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="cart_totals">
                                <h2>Cart Totals</h2>
                                <table>
                                    <tbody>
                                        <!-- <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td><span class="amount"><%=number_to_currency(@total, :unit =>"",precision:0)%> VND</span></td>
                                        </tr> -->
                                        <tr class="shipping">
                                            <th>Shipping</th>
                                            <td>
                                                <ul id="shipping_method">
                                                    <li>
                                                        <input type="radio" /> 
                                                        <label>
                                                            Free Shipping
                                                        </label>
                                                    </li>
                                                    
                                                    <li></li>
                                                </ul>
                                               
                                            </td>
                                        </tr>
                                        <tr class="payment">
                                            <th>payment</th>
                                            <td>
                                                <ul id="payment_method">
                                                    <li>
                                                        <input type="radio" /> 
                                                        <label>
                                                            Payment on delivery
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" /> 
                                                        <label>
                                                            Payment on delivery
                                                        </label>
                                                    </li>
                                                    <li></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td>
                                                <strong><span class="amount"><%=number_to_currency(@total, :unit =>"",precision:0)%> VND</span></strong>
                                            </td>
                                        </tr>                                           
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    <a href="">Proceed to pay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>