<div id="layoutSidenav">
    <%= render "admin/sidebar/sidebar" %>
    <div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <section class="content">
                <div class="container-fluid">
                    <p id="notice" style="color:green;"><%= notice %></p>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <button class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal">
                                        <i class="fas fa-plus-circle"></i>
                                        Thêm mới sản phẩm
                                    </button>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0" >
                                    <table class="table table-head-fixed table-striped">
                                        <thead> 
                                            <tr>
                                                <th>Tên Sản Phẩm</th>
                                                <th>Giá</th>
                                                <th>Hình ảnh</th>
                                                <th>Thuộc loại</th>
                                                <th>Status</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         <%= render "admin/products/product_list" %>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- model add product -->
            <div class="modal fade custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <%= form_tag '/admin/products', multipart: true do %>
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add new product</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Full name category (required)</label>
                                    <input class="form-control" name="name" type="text" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Price (required)</label>
                                    <input class="form-control" name="price" type="text" required/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Belongs to type(required)</label>
                                    <select name="category_id" class="form-control" required>
                                        <option>- select -</option>
                                        <% @products.includes(:category).each do |product| %>
                                        <option value="<%= product.category.id%>"><%= product.category.name %></option>
                                        <% end %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Avatar image (optional):</label>
                            <input class="form-control" name="image" type="file" />
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select name="active" class="form-control" required>
                                        <option>- select - </option>
                                        <option value="1">Active</option>
                                        <option value="0">Deactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Add product</button>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
               
        </div>
    </main>
  </div>
</div>