<div id="layoutSidenav">
    <%= render "admin/sidebar/sidebar" %>
    <div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <section class="content">
                <div class="container-fluid">
                    <p id="notice" style="color:red;"><%= notice %></p>
                    <!-- /.row -->
                </div>
                <div class="container">
                    <h2>Update product</h2>
                    <hr>
                        <%= form_with url: "/admin/products/#{@product.id}", method: :put, multipart: true,  class: "was-validated d-flex flex-column input-form" do %>
                            <div class="form-group col-12">
                                <label for="ten-phim">Name:</label>
                                <input type="text" class="form-control" id="ten-phim" name="name" value="<%=@product.name %>" required>
                            </div>  
                           
                        <div class="form-group col-6">
                            <label for="ten-phim">Price:</label>
                            <input type="text" class="form-control" id="price" name="price" value="<%=@product.price %>" required>
                        </div> 
                        <div class="form-group col-6">
                            <label for="ten-phim">Image:</label>
                            <% if @product.image.attached? %>
                                <%=image_tag(@product.image, size: "100x100", name: "image") %>
                            <% end %>

                        </div> 
                        <div class="form-group col-6">
                            <label for="ten-phim">Status:</label>
                            <select name="active" id="status" class="form-control">
                                <option value="1">Active</option>
                                <option value="0">Deactive</option>
                            </select>
                        </div> 
                        <div class="form-group col-6">
                            <input type="file" class="form-control" id="image" name="image" required>
                        </div> 

                        <button type="submit" class="btn btn-primary btn-submit-input-form btn-cap-nhat" >
                            <strong>Update product</strong>
                        </button>
                    <!-- </form> -->
                    <% end %>
                </div>
            </section>
        </div>
    </main>
  </div>
</div>